@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap');

body{
    /* centrado */
    width: 800px;
    margin: auto;
    /* centrado */

    font-family: Raleway, sans-serif;
    font-weight: 200;
    color: #444;

}
header{
    height: 60px;
    /* background-color: #fbd6d0; */
    display: flex;

    /* separaciones y alineado */
    justify-content: space-between;

    /* centrado vertical */
    line-height: 60px;
}

/* logo superior */
    #logo{
        /* separación interna */
        padding-top: 12px;
    }

    /* enlaces en el menu */
    nav a{
        color: #444;
        text-decoration: none; /* quitar subrayado */
        padding: 10px;
        font-weight: 400;
    }


main{
    /* no usar height */
    min-height: 740px;
}


footer{
    height: 100px;
    display: flex;
    justify-content: space-between;
}
    footer a{
        text-decoration: none;
        padding: 8px;
    }

    footer img{
        width: 26px;
        opacity: .5;
    }
    footer img:hover{
        opacity: 1;
    }